@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@100;300;400;500;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../imgs/bg-page.png);
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.contain {
  width: 100%;
}
@media (min-width: 768px) {
  .contain {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .contain {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .contain {
    max-width: 1440px;
  }
}

.page__button {
  padding: calc(5px + (10 - 5) * ((100vw - 768px) / (1920 - 768))) calc(15px + (30 - 15) * ((100vw - 768px) / (1920 - 768)));
}
.page__button:visited, .page__button:focus, .page__button {
  display: inline-block;
  color: #fff !important;
  background-color: transparent;
  border: 2px solid #fff;
  text-decoration: none !important;
  transition: 0.3s;
  text-align: center;
}
.page__button:hover {
  background-color: #da291c !important;
  border: 2px solid #da291c;
}
@media only screen and (max-width: 767px) {
  .page__button {
    padding: calc(5px + (10 - 5) * ((100vw - 320px) / (767 - 320))) calc(15px + (30 - 15) * ((100vw - 320px) / (767 - 320)));
  }
}
.page__section {
  padding: calc(40px + (60 - 40) * ((100vw - 768px) / (1920 - 768))) 0px;
}
@media only screen and (max-width: 767px) {
  .page__section {
    padding: calc(20px + (40 - 20) * ((100vw - 320px) / (767 - 320))) 0px;
  }
}
.page__title {
  font-size: calc(16px + (24 - 16) * ((100vw - 768px) / (1920 - 768)));
  letter-spacing: 0.2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  margin: 0px;
  padding-bottom: 10px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .page__title {
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (767 - 320)));
  }
}
.page__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30px;
  height: 4px;
  background-color: #da291c;
}
.page__container {
  width: 90%;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header__container {
    padding: 0px 15px;
  }
}
@media only screen and (min-width: 1024px) {
  .header__container {
    width: 90%;
    margin: 0 auto;
  }
}
.header__logo--img {
  width: calc(140px + (332 - 140) * ((100vw - 768px) / (1920 - 768)));
  height: auto;
}
@media only screen and (max-width: 767px) {
  .header__logo--img {
    width: calc(180px + (332 - 180) * ((100vw - 320px) / (767 - 320)));
  }
}
.header__slogan {
  margin: 0px;
  margin-left: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  font-size: calc(10px + (20 - 10) * ((100vw - 768px) / (1920 - 768)));
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .header__slogan {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .header__slogan {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (767 - 320)));
    margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border-bottom: 1px solid #fff;
    text-align: center;
  }
}
.header__nav {
  margin-bottom: 0px;
}
@media only screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__nav::before, .header__nav::after {
  display: none;
}
.header__nav--header {
  display: flex;
  align-items: center;
}
.header__nav--collapse {
  box-shadow: none;
}
.header__menu {
  display: flex;
  align-items: center;
  padding: 30px 0px;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .header__menu {
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  .header__menu {
    justify-content: center;
    padding: 60px 30px 30px 30px;
  }
}
.header__menu--toggle {
  float: none;
}
.header__menu--toggle span {
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .header .nav__list {
    display: flex;
  }
}
@media only screen and (max-width: 767px) {
  .header .nav__item {
    text-align: center;
  }
}
.header .nav__link:visited, .header .nav__link:focus, .header .nav__link {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  transition: 0.3s;
  padding: calc(5px + (10 - 5) * ((100vw - 768px) / (1920 - 768))) calc(15px + (30 - 15) * ((100vw - 768px) / (1920 - 768)));
  font-size: calc(12px + (18 - 12) * ((100vw - 768px) / (1920 - 768)));
}
@media only screen and (max-width: 767px) {
  .header .nav__link:visited, .header .nav__link:focus, .header .nav__link {
    padding: calc(15px + (30 - 15) * ((100vw - 768px) / (1920 - 768))) 0px;
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (767 - 320)));
  }
}
.header .nav__link--button:visited, .header .nav__link--button:focus, .header .nav__link--button {
  display: inline-block;
  color: #fff !important;
  background-color: transparent;
  border: 2px solid #fff;
  text-decoration: none !important;
  transition: 0.3s;
  text-align: center;
}
.header .nav__link--button:hover {
  background-color: #da291c !important;
  border: 2px solid #da291c;
}
@media only screen and (max-width: 767px) {
  .header .nav__link--button {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.header .nav__link:hover {
  color: #da291c;
  background-color: transparent;
}

.hero {
  background-image: url(../imgs/bg-hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .hero {
    background-image: url(../imgs/bg-hero-xs.jpg);
  }
}
.hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000, transparent);
  z-index: 1;
}
.hero::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #000, transparent 32%);
  z-index: 1;
}
.hero .page__container {
  position: relative;
  z-index: 2;
  padding-top: calc(140px + (240 - 140) * ((100vw - 768px) / (1920 - 768)));
  padding-bottom: calc(80px + (120 - 80) * ((100vw - 768px) / (1920 - 768)));
}
@media only screen and (max-width: 767px) {
  .hero .page__container {
    padding-top: calc(200px + (240 - 200) * ((100vw - 320px) / (767 - 320)));
    padding-bottom: calc(80px + (120 - 80) * ((100vw - 320px) / (767 - 320)));
  }
}
.hero__logo {
  position: relative;
}
.hero__logo--red-line {
  display: inline-block;
  width: 30px;
  height: 4px;
  margin-right: 10px;
  background-color: #da291c;
  vertical-align: middle;
}
.hero__logo--img {
  width: calc(100px + (200 - 100) * ((100vw - 768px) / (1920 - 768)));
  height: auto;
}
@media only screen and (max-width: 767px) {
  .hero__logo--img {
    width: calc(100px + (200 - 100) * ((100vw - 320px) / (767 - 320)));
  }
}
.hero__title {
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  margin: 1% 0% 2% 0%;
  font-size: calc(42px + (84 - 42) * ((100vw - 768px) / (1920 - 768)));
}
@media only screen and (max-width: 767px) {
  .hero__title {
    font-weight: 300;
    width: calc(100px + (200 - 100) * ((100vw - 320px) / (767 - 320)));
    margin-bottom: 30%;
  }
}
.hero__title span {
  display: block;
}
.hero__buttons .page__button {
  font-size: calc(12px + (18 - 12) * ((100vw - 768px) / (1920 - 768)));
}
@media only screen and (min-width: 768px) {
  .hero__buttons .page__button:nth-of-type(1) {
    margin-right: 1%;
  }
}
@media only screen and (max-width: 767px) {
  .hero__buttons .page__button {
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (767 - 320)));
    display: block;
    width: 80%;
    margin: 0 auto 10px auto;
  }
}
.hero__scroll-container {
  text-align: center;
  margin-top: 2%;
}
@media only screen and (max-width: 767px) {
  .hero__scroll-container {
    display: none;
  }
}
.hero__scroll-link:active, .hero__scroll-link:focus, .hero__scroll-link {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: calc(30px + (50 - 30) * ((100vw - 768px) / (1920 - 768)));
  background-color: rgba(0, 0, 0, 0.6);
  height: calc(50px + (70 - 50) * ((100vw - 768px) / (1920 - 768)));
  width: calc(50px + (70 - 50) * ((100vw - 768px) / (1920 - 768)));
  line-height: calc(50px + (70 - 50) * ((100vw - 768px) / (1920 - 768)));
  border-radius: 50px;
  transition: 0.3s;
}
.hero__scroll-link:hover {
  color: #000;
  background-color: #fff;
}

.ctas {
  padding: 15px;
  background-color: #000;
}
.ctas__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.ctas__link {
  position: relative;
  z-index: 1;
}
.ctas__link:visited,
.ctas__link :active, .ctas__link {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  height: calc(300px + (600 - 300) * ((100vw - 768px) / (1920 - 768)));
}
@media only screen and (max-width: 767px) {
  .ctas__link:visited,
.ctas__link :active, .ctas__link {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .ctas__link:visited,
.ctas__link :active, .ctas__link {
    height: calc(240px + (600 - 240) * ((100vw - 320px) / (767 - 320)));
  }
}
.ctas__link:nth-of-type(1) {
  background-image: url(../imgs/bg-cta1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ctas__link:nth-of-type(2) {
  background-image: url(../imgs/bg-cta2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ctas__link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  transition: 0.3s;
  opacity: 1;
}
.ctas__link:hover::before {
  opacity: 0;
}
.ctas__link:hover .ctas__text::after {
  width: 30%;
}
.ctas__text {
  color: #fff;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  font-size: calc(26px + (32 - 26) * ((100vw - 768px) / (1920 - 768)));
  padding: 14%;
  position: relative;
  z-index: 1;
}
.ctas__text--block {
  display: block;
  color: #d0d0d0;
  font-size: calc(14px + (18 - 14) * ((100vw - 768px) / (1920 - 768)));
}
.ctas__text::before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(calc(50px + (100 - 50) * ((100vw - 768px) / (1920 - 768))));
}
@media only screen and (max-width: 767px) {
  .ctas__text::before {
    filter: blur(calc(50px + (100 - 50) * ((100vw - 320px) / (767 - 320))));
  }
}
.ctas__text::after {
  content: "";
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
  height: 4px;
  width: 0%;
  margin: auto;
  background-color: #da291c;
  z-index: 1;
  transition: 0.3s;
}

.video .page__title {
  margin-bottom: 3%;
}

.promotions .page__title {
  margin-bottom: 6%;
}
.promotions__slider button.slick-arrow {
  position: absolute;
  z-index: 5;
  bottom: 10%;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 40px;
  transition: 0.3s;
}
.promotions__slider button.slick-arrow:hover {
  background-color: #da291c;
  color: #fff;
}
.promotions__slider button.fa-angle-left {
  right: 100px;
}
.promotions__slider button.fa-angle-right {
  right: 40px;
}
.promotions__img {
  max-width: 100%;
  height: auto;
}

.lineup {
  padding: 8px 0px;
  background-color: #000;
}
.lineup__container {
  background-image: url(../imgs/bg-lineup.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 100px 0px;
}
@media only screen and (max-width: 767px) {
  .lineup__container {
    padding: calc(40px + (100 - 40) * ((100vw - 768px) / (1920 - 768))) 0px;
  }
}
.lineup__container::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to left, #000 16%, transparent 60%);
  z-index: -1;
  opacity: 0.9;
}
.lineup .logos-slider {
  margin: 2% auto 0 auto;
}
.lineup .logos-slider__img {
  width: calc(150px + (300 - 150) * ((100vw - 768px) / (1920 - 768)));
  height: auto;
  margin: 0 auto;
}
.lineup .motorcycles-slider {
  margin: 0 auto 0 auto;
}
.lineup .motorcycles-slider__img {
  width: calc(320px + (800 - 320) * ((100vw - 768px) / (1920 - 768)));
  height: auto;
  margin: 0 auto;
}
.lineup__button {
  text-align: center;
}
.lineup__button .page__button {
  font-size: calc(16px + (20 - 16) * ((100vw - 768px) / (1920 - 768)));
  padding: 10px 80px;
}
.lineup .youtube-slider {
  position: absolute;
  top: calc(60px + (170 - 60) * ((100vw - 768px) / (1920 - 768)));
  left: calc(20px + (110 - 20) * ((100vw - 768px) / (1920 - 768)));
  width: calc(200px + (300 - 200) * ((100vw - 768px) / (1920 - 768)));
}
@media only screen and (max-width: 767px) {
  .lineup .youtube-slider {
    display: none;
  }
}
.lineup .youtube-slider__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100px + (160 - 100) * ((100vw - 768px) / (1920 - 768)));
}
.lineup .youtube-slider__preview i.fa {
  color: #fff;
  font-size: 50px;
}
.lineup .youtube-slider__preview--01 {
  background-image: url(../imgs/slide-youtube-01.jpg);
  background-position: center;
  background-size: cover;
}
.lineup .youtube-slider__preview--02 {
  background-image: url(../imgs/slide-youtube-02.jpg);
  background-position: center;
  background-size: cover;
}
.lineup .youtube-slider__preview--03 {
  background-image: url(../imgs/slide-youtube-03.jpg);
  background-position: center;
  background-size: cover;
}
.lineup .youtube-slider__preview--04 {
  background-image: url(../imgs/slide-youtube-04.jpg);
  background-position: center;
  background-size: cover;
}
.lineup .youtube-slider__img {
  max-width: 100%;
  height: auto;
}
.lineup .youtube-slider__content {
  padding: calc(10px + (20 - 10) * ((100vw - 768px) / (1920 - 768))) calc(20px + (40 - 20) * ((100vw - 768px) / (1920 - 768)));
  background-color: #000;
}
.lineup .youtube-slider__model {
  text-transform: uppercase;
  color: #da291c;
  font-size: calc(12px + (14 - 12) * ((100vw - 768px) / (1920 - 768)));
  margin: 0px;
  margin-bottom: 5px;
}
.lineup .youtube-slider__title {
  margin: 0px;
  margin-bottom: 12%;
  color: #fff;
  font-weight: 300;
  font-size: calc(16px + (28 - 16) * ((100vw - 768px) / (1920 - 768)));
}
.lineup .youtube-slider__text {
  color: #d0d0d0;
  margin: 0px;
  margin-bottom: 20%;
  font-size: calc(10px + (12 - 10) * ((100vw - 768px) / (1920 - 768)));
}
.lineup .youtube-slider__link:visited, .lineup .youtube-slider__link:focus, .lineup .youtube-slider__link {
  text-decoration: none;
  color: #d0d0d0;
  transition: 0.3s;
}
.lineup .youtube-slider__link:visited i.fa, .lineup .youtube-slider__link:focus i.fa, .lineup .youtube-slider__link i.fa {
  color: #da291c;
}
.lineup .youtube-slider__link:hover {
  color: #fff;
}
.lineup .navigator {
  position: absolute;
  height: calc(240px + (400 - 240) * ((100vw - 768px) / (1920 - 768)));
  right: 2%;
  top: 0;
  bottom: 0;
  margin: auto;
  width: calc(200px + (300 - 200) * ((100vw - 768px) / (1920 - 768)));
}
@media only screen and (max-width: 767px) {
  .lineup .navigator {
    display: none;
  }
}
.lineup .navigator__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lineup .navigator__item.slick-current .navigator__model {
  color: #fff;
}
.lineup .navigator__item.slick-current .navigator__img {
  filter: opacity(100%);
}
.lineup .navigator__item.slick-current .navigator__icon {
  opacity: 1;
}
.lineup .navigator__item:hover .navigator__model {
  color: #da291c;
}
.lineup .navigator__model {
  color: #d0d0d0;
  transition: 0.3s;
  font-size: calc(10px + (12 - 10) * ((100vw - 768px) / (1920 - 768)));
  width: 120px;
  transition: 0.3s;
}
.lineup .navigator__img {
  width: calc(80px + (140 - 80) * ((100vw - 768px) / (1920 - 768)));
  height: auto;
  margin: 0 auto;
  transition: 0.3s;
  filter: opacity(60%);
}
.lineup .navigator__icon {
  color: #da291c;
  font-size: 30px;
  transition: 0.3s;
  opacity: 0;
}

.social {
  background-color: rgba(0, 0, 0, 0.5);
}
.social .page__title {
  margin-bottom: 3%;
}
.social__title {
  font-size: calc(24px + (48 - 24) * ((100vw - 768px) / (1920 - 768)));
  font-weight: 300;
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0px;
  margin-bottom: 1%;
}
.social__sub-title {
  font-size: calc(14px + (20 - 14) * ((100vw - 768px) / (1920 - 768)));
  color: #d0d0d0;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0px;
  margin-bottom: 4%;
}
.social__gallery {
  display: flex;
  flex-wrap: wrap;
}
.social .gallery__item {
  height: calc(220px + (500 - 220) * ((100vw - 768px) / (1920 - 768)));
  flex-basis: 33%;
  flex-grow: 1;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .social .gallery__item {
    height: calc(120px + (300 - 120) * ((100vw - 320px) / (767 - 320)));
  }
}
@media only screen and (max-width: 767px) {
  .social .gallery__item {
    flex-basis: 50%;
  }
}
.social .gallery__item--01 {
  background-image: url(../imgs/img-social-01.jpg);
  background-position: center;
  background-size: cover;
}
.social .gallery__item--02 {
  background-image: url(../imgs/img-social-02.jpg);
  background-position: center;
  background-size: cover;
}
.social .gallery__item--03 {
  background-image: url(../imgs/img-social-03.jpg);
  background-position: center;
  background-size: cover;
}
.social .gallery__item--04 {
  background-image: url(../imgs/img-social-04.jpg);
  background-position: center;
  background-size: cover;
}
.social .gallery__item--05 {
  background-image: url(../imgs/img-social-05.jpg);
  background-position: center;
  background-size: cover;
}
.social .gallery__item--06 {
  background-image: url(../imgs/img-social-06.jpg);
  background-position: center;
  background-size: cover;
}
.social .gallery__item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  opacity: 1;
}
.social .gallery__item:hover::before {
  opacity: 0;
}
.social .gallery__item:hover .icons__list {
  opacity: 1;
}
.social .icons__list {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 2;
  opacity: 0;
  transition: 0.6s;
}
.social .icons__link:active, .social .icons__link:focus, .social .icons__link {
  display: inline-block;
  text-decoration: none !important;
  background-color: #fff;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 20px;
  transition: 0.3s;
  color: #000;
}
@media only screen and (max-width: 767px) {
  .social .icons__link:active, .social .icons__link:focus, .social .icons__link {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 16px;
  }
}
.social .icons__link:hover {
  background-color: #d0d0d0;
}

.footer {
  background-color: #000;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .footer {
    text-align: center;
  }
}
.footer__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 0px;
}
.footer__logo {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .footer__logo {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer__logo--img {
  width: calc(160px + (264 - 160) * ((100vw - 768px) / (1920 - 768)));
  height: auto;
}
@media only screen and (max-width: 767px) {
  .footer__logo--img {
    width: calc(280px + (264 - 280) * ((100vw - 320px) / (767 - 320)));
  }
}
.footer__slogan {
  color: #fff;
  margin: 0px;
  margin-left: 30px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: calc(10px + (20 - 10) * ((100vw - 768px) / (1920 - 768)));
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .footer__slogan {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .footer__slogan {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (767 - 320)));
    margin: 20% 0%;
  }
}
.footer__navigation .quick-links__list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
@media only screen and (max-width: 767px) {
  .footer__navigation .quick-links__list {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 767px) {
  .footer__navigation .quick-links__item {
    flex-basis: 100%;
  }
}
.footer__navigation .quick-links__link:visited, .footer__navigation .quick-links__link:focus, .footer__navigation .quick-links__link {
  display: block;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  transition: 0.3s;
  padding: calc(5px + (10 - 5) * ((100vw - 768px) / (1920 - 768))) calc(15px + (30 - 15) * ((100vw - 768px) / (1920 - 768)));
  font-size: calc(12px + (18 - 12) * ((100vw - 768px) / (1920 - 768)));
}
@media only screen and (max-width: 767px) {
  .footer__navigation .quick-links__link:visited, .footer__navigation .quick-links__link:focus, .footer__navigation .quick-links__link {
    padding: calc(15px + (30 - 15) * ((100vw - 768px) / (1920 - 768))) 0px;
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
  }
}
.footer__navigation .quick-links__link--button:visited, .footer__navigation .quick-links__link--button:focus, .footer__navigation .quick-links__link--button {
  display: inline-block;
  color: #fff !important;
  background-color: transparent;
  border: 2px solid #fff;
  text-decoration: none !important;
  transition: 0.3s;
  text-align: center;
}
.footer__navigation .quick-links__link--button:hover {
  background-color: #da291c !important;
  border: 2px solid #da291c;
}
@media only screen and (max-width: 767px) {
  .footer__navigation .quick-links__link--button {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.footer__navigation .quick-links__link:hover {
  color: #da291c;
  background-color: transparent;
}
.footer__copyright {
  border-top: 1px solid #d0d0d0;
}
@media only screen and (max-width: 767px) {
  .footer__copyright {
    text-align: center;
  }
}
.footer__text {
  font-size: 14px;
  color: #d0d0d0;
  margin: 0px;
  padding: 26px 0px;
}