// ========== VARIABLES ==========

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@100;300;400;500;900&display=swap');


// Theme colors
$color-primary: #da291c;
$color-secondary: #fff;
$color-tertiary: #000;
$support-color: #d0d0d0;
$page-text-color: #fff;

$white                  :	#fff;
$black                  :	#000;


// Fonts
$site-font-family       :   'Roboto', Arial, Helvetica, sans-serif;
$headings-font-family   :   'Roboto', "Times New Roman", Times, serif;


// Screen
$screen-xs              :   320px;
$screen-sm              :   768px;
$screen-md              :   992px;
$screen-lg              :   1200px;
$screen-xl              :   1530px;
$screen-xxl             :   1780px;

// Container widths
$container-sm           :   750px;
$container-md           :   970px;
$container-lg           :   1170px;
$container-xl           :   1500px;
$container-xxl          :   1750px;

// ========== MIXINS AND FUNCTIONS ==========

@function responsive-px($min-px, $max-px, $min-vw, $max-vw) {
    @return calc(#{$min-px}px + (#{$max-px} - #{$min-px}) * ((100vw - #{$min-vw}px) / (#{$max-vw} - #{$min-vw})));
}

@function get-vw-mobile($px){
    $vw-result: $px / 12.42;
    @return #{$vw-result}vw;
}

@function get-vw-desktop($px){
    $vw-result: $px / 19.2;
    @return #{$vw-result}vw;
}

@function rem($value) {
    $remValue: calc($value / 16) + rem; 
    @return $remValue;
}

@function em($value) {
    $emValue: calc($value / 16) + em; 
    @return $emValue;
}

@mixin custom-mq($min-width: 320, $max-width: 1920) {
    @media only screen and (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
        @content;
    }
}

@mixin min-xs {
    @media(min-width: $screen-xs) {
        @content;
    }
}

@mixin max-xs {
    @media(max-width: ($screen-sm - 1px)) {
        @content;
    }
}

@mixin min-sm {
    @media(min-width: $screen-sm) {
        @content;
    }
}

@mixin min-md {
    @media(min-width: $screen-md ) {
        @content;
    }
}

@mixin min-lg {
    @media(min-width: $screen-lg) {
        @content;
    }
}

@mixin min-xl {
    @media(min-width: $screen-xl) {
        @content;
    }
}

@mixin min-xxl {
    @media(min-width: $screen-xxl) {
        @content;
    }
}

@mixin custom-mq($min-width: 320, $max-width: 1920) {
    @media only screen and (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
        @content;
    }
}

@mixin container() {
    padding-inline: 15px;
    margin-inline: auto;
    @media (min-width: $screen-sm) { width: $container-sm; }
    @media (min-width: $screen-md) { width: $container-md; }
    @media (min-width: $screen-lg) { width: $container-lg; }
    @media (min-width: $screen-xl) { width: $container-xl; }
    @media (min-width: $screen-xxl) { width: $container-xxl; }
}

// ========== GENERAL ==========

html{
    scroll-behavior: smooth;
    font-size: 16px;
    @include min-sm{
        font-size: 12px;
    }

    @include min-md{
        font-size: 13px;
    }

    @include min-lg{
        font-size: 14px;
    }

    @include min-xl{
        font-size: 15px;
    }

    @include min-xxl{
        font-size: 16px;
    }
}

body {
    background-image: url(../imgs/bg-page.png);
    background-attachment: fixed;
    font-family: $site-font-family;
    font-size: responsive-px(12, 16, 768, 1920);
}

a {
    &:hover, &:active, &:focus, &:visited {
        text-decoration: none;
    }
}

%space-section{
    padding: em(40) em(0);
    @include min-sm{
        padding: em(60) em(0);
    }
}

%section-title{
    font-size: em(24);
    letter-spacing: 0.2em;
    color: $color-secondary;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding-bottom: rem(10);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: rem(30);
        height: rem(4);
        background-color: $color-primary;
    }
}

%site-button{
    &:visited,
    &:focus,
    & {
        display: inline-block;
        color: $color-secondary;
        background-color: transparent;
        border: rem(2) solid $color-secondary;
        text-decoration: none !important;
        transition: .3s;
        text-align: center;
        padding: rem(10) rem(30) !important;
    }

    &:hover {
        background-color: $color-primary !important;
        border: rem(2) solid $color-primary !important;
        color: $color-secondary !important;
    }
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: rem(0) rem(15);
}

// ========== SECTIONS ==========

.header {
    font-size: 16px;
    @include min-sm{
        font-size: 10px;
    }
    @include min-md{
        font-size: 12px;
    }
    @include min-xxl{
        font-size: 16px;
    }
    
    background-color: $color-tertiary;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .container {
        @include min-sm{
            width: 94%;
            margin: 0 auto;
        }
    }

    .site-logo {
        img {
            width: em(332);
            height: auto;
        }
    }

    .slogan {
        margin: 0;
        margin-left: rem(30);

        @include custom-mq(768, 1200) {
            margin-left: 0px;
        }

        font-weight: 900;
        text-transform: uppercase;
        color: $page-text-color;

        font-size: em(20);

        @include max-xs{
            font-size: em(20);
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: rem(10);
            border-bottom: 1px solid $color-secondary;
            text-align: center;
        }
    }

    .navbar {
        margin-bottom: 0;

        @include min-sm{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &::before,
        &::after {
            display: none;
        }

        .navbar-collapse {
            box-shadow: none;
            flex-basis: 100%;
            @include min-lg{
                flex-basis: 50%;
            }
            .nav {
                padding: rem(0) rem(0) rem(20) rem(0);
                @include min-sm{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                
                li {
                    @include max-xs{
                        text-align: center
                    }
                }

                a {
                    &:visited,
                    &:focus,
                    & {
                        color: $page-text-color;
                        background-color: transparent;
                        text-decoration: none;
                        transition: .3s;
                        padding: 0;
                        font-size: em(18);
                        @include max-xs{
                            padding: rem(20) rem(0);
                        }
                    }

                    &.header__button {
                        margin: 0px;
                        padding-left: 30px;
                        padding-right: 30px;
                        &:hover{
                            background-color: $color-primary;
                            color: $color-secondary;
                        }
                    }

                    &:hover {
                        color: $color-primary;
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .navbar-header {
        display: flex;
        align-items: center;
        padding: rem(30) rem(0);

        @include custom-mq(768, 1200) {
            flex-direction: column;
        }

        @include max-xs{
            justify-content: center;
            padding: rem(60) rem(30) rem(30) rem(30);
        }

        .navbar-toggle {
            float: none;
            span {
                background-color: $color-secondary;
            }
        }
    }

    &__button{
        @extend %site-button;
    }
}

.hero {
    font-size: 16px;
    background-image: url(../imgs/bg-hero-xs.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include min-sm{
        background-image: url(../imgs/bg-hero.png);
        font-size: 12px;
    }

    @include min-md{
        font-size: 14px;
    }

    @include min-lg{
        font-size: 16px;
    }

    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: linear-gradient(to top, $color-tertiary, transparent);
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: linear-gradient(to right, $color-tertiary, transparent 32%);
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;
        padding-top: em(240);
        padding-bottom: em(120);
    }

    &__logo {
        position: relative;
        span{
            display: inline-block;
            width: em(30);
            height: rem(4);
            margin-right: rem(10);
            background-color: $color-primary;
            vertical-align: middle;
        }

        img {
            height: auto;
            width: em(200);
        }
    }

    &__title {
        color: $page-text-color;
        text-transform: uppercase;
        font-size: em(36);
        font-weight: 300;
        margin-bottom: 10%;
        @include min-sm{
            font-size: em(84);
            font-weight: 100;
            margin: 1% 0% 2% 0%;
        }

        span {
            display: block;
        }
    }

    &__buttons {
        .page__button {
            font-size: em(18);

            @include min-sm{
                &:nth-of-type(1) {
                    margin-right: 1%;
                }
            }

            @include max-xs{
                display: block;
                width: 80%;
                margin: 0 auto 10px auto;
            }
        }
    }

    &__button{
        @extend %site-button;
    }

    &__scroll {
        display: none;
        text-align: center;
        margin-top: 2%;

        @include min-md{
            display: block;
        }

        a{
            &:active, &:focus, &{
                text-decoration: none;
                display: inline-block;
                color: $page-text-color;
                font-size: em(50);
                background-color: rgba($color-tertiary, 0.6);
                height: rem(70);
                width: rem(70);
                line-height: rem(70);
                border-radius: rem(50);
                transition: .3s;
            }
            &:hover{
                color: $color-tertiary;
                background-color: $color-secondary;
            }
        }
    }
}

.ctas {
    padding: rem(15);
    background-color: $color-tertiary;
    font-size: 16px;

    @include min-sm{
        font-size: 12px;
    }

    @include min-md{
        font-size: 14px;
    }

    @include min-lg{
        font-size: 16px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: rem(15);

        @include min-sm{
            grid-template-columns: 1fr 1fr;
            column-gap: rem(15);
        }
    }

    &__link {
        &:visited,
        :active,
        & {
            flex-grow: 1;
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none !important;
            height: em(300);
            @include min-sm{
                height: em(600);
            }
        }

        &:nth-of-type(1) {
            background-image: url(../imgs/bg-cta1.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &:nth-of-type(2) {
            background-image: url(../imgs/bg-cta2.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        position: relative;
        z-index: 1;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($color-tertiary, 0.4);
            z-index: -1;
            transition: .3s;
            opacity: 1;
        }

        &:hover {
            &::before {
                opacity: 0;
            }

            .ctas__text {
                &::after {
                    width: 30%;
                }
            }
        }
    }

    &__text {
        color: $page-text-color;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        margin: 0px;
        font-size: responsive-px(26, 32, 768, 1920);
        padding: 14%;

        &--block {
            display: block;
            color: $support-color;
            font-size: responsive-px(14, 18, 768, 1920);
        }

        position: relative;
        z-index: 1;

        &::before {
            content: '';
            background: $black;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            filter: blur(rem(50));
            @include min-sm{
                filter: blur(rem(100));
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 30%;
            left: 0;
            right: 0;
            height: 4px;
            width: 0%;
            margin: auto;
            background-color: $color-primary;
            z-index: 1;
            transition: .3s;
        }
    }
}

.video {
    @extend %space-section;
    .video__title {
        @extend %section-title;
        margin-bottom: 3%;
    }
}

.promotions{
    @extend %space-section;

    .promotions__title{
        @extend %section-title;
        margin-bottom: 6%;
    }

    .slider{
        button{
            &.slick-arrow{
                position: absolute;
                z-index: 5;
                bottom: 10%;
                width: rem(50);
                height: rem(50);
                background-color: $color-secondary;
                border: none;
                border-radius: rem(50);
                font-size: em(40);
                transition: .3s;
                &:hover{
                    background-color: $color-primary;
                    color: $color-secondary;
                }
            }
            &.fa-angle-left{
                right: 100px;
            }
            &.fa-angle-right{
                right: 40px;
            }
        }

        &__item{
            img{
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.lineup{
    font-size: 16px;
    @include min-sm{
        font-size: 10px;
    }
    @include min-md{
        font-size: 12px;
    }
    @include min-lg{
        font-size: 14px;
    }
    @include min-xl{
        font-size: 16px;
    }
    @include min-xxl{
        font-size: 16px;
    }
    
    border-top: rem(8) solid $color-tertiary;
    border-bottom: rem(8) solid $color-tertiary;

    &__container{
        background-image: url(../imgs/bg-lineup.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
        padding: em(40) em(0);

        @include min-sm{
            padding: em(100) em(0);
        }

        &::before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-image: linear-gradient(to left, $color-tertiary 16%, transparent 60%);
            z-index: -1;
            opacity: 0.9;
        }
    }
    
    &__title{
        @extend %section-title;
    }

    .logos-slider{
        margin: 2% auto 0 auto;
        &__item{
            img{
                height: auto;
                margin: 0 auto;
                width: em(140);
                @include min-sm{
                    width: em(180);
                }
                @include min-md{
                    width: em(200);
                }
                @include min-lg{
                    width: em(260);
                }
                @include min-xl{
                    width: em(300);
                }
            }
        }
    }

    .motorcycles-slider{
        margin: 0 auto 0 auto;
        &__item{
            img{
                height: auto;
                margin: 0 auto;
                max-width: em(400);
                @include min-sm{
                    max-width: em(350);
                }
                @include min-md{
                    max-width: em(400);
                }
                @include min-lg{
                    max-width: em(500);
                }
                @include min-xl{
                    max-width: em(800);
                }
            }
        }
    }

    &__button-container{
        text-align: center;
    }

    &__button{
        @extend %site-button;
        font-size: em(20);
        padding: rem(10) rem(80);
    }
    
    .youtube-slider{
        @include max-xs{
            display: none;
        }

        position: absolute;
        left: em(110);
        width: em(300);
        top: em(110);
        @include min-lg{
            top: em(160);
        }

        @include min-xl{
            top: em(300);
        }

        .preview{
            display: flex;
            justify-content: center;
            align-items: center;
            height: em(160);
            i.fa{
                color: $color-secondary;
                font-size: 50px;
            }
            @for $i from 1 to 5{
                &--0#{$i}{
                    background-image: url(../imgs/slide-youtube-0#{$i}.jpg);
                    background-position: center;
                    background-size: cover;
                }
            }
        }

        &__item{
            .content{
                padding: rem(20) rem(40);
                background-color: $color-tertiary;

                &__model{
                    text-transform: uppercase;
                    color: $color-primary;
                    font-size: em(14);
                    margin: 0;
                    margin-bottom: rem(5);
                }
                &__title{
                    margin: 0;
                    margin-bottom: 12%;
                    color: $color-secondary;
                    font-weight: 300;
                    font-size: em(28);
                }
                &__text{
                    color: $support-color;
                    margin: 0;
                    margin-bottom: 20%;
                    font-size: em(12);
                }
                &__link{
                    &:visited, &:focus, &{
                        text-decoration: none;
                        color: $support-color;
                        transition: .3s;
                        i.fa{
                            color: $color-primary;
                        }
                    }
                    &:hover{
                        color: $page-text-color;
                    }
                }
            }
        }
    }

    .navigator{
        @include max-xs{
            display: none;
        }
        position: absolute;
        right: 2%;
        top: 0;
        bottom: 0;
        margin: auto;
        height: em(400);
        width: em(300);
        &__item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &.slick-current{
                h4{
                    color: $page-text-color;
                }
                img{
                    filter: opacity(100%);
                }
                i{
                    opacity: 1;
                }
            }
            &:hover{
                h4{
                    color: $color-primary;
                }
            }

            h4{
                color: $support-color;
                transition: .3s;
                font-size: em(12);
                width: 120px;
                transition: .3s;
    
            }
            img{
                width: em(140);
                height: auto;
                margin: 0 auto;
                transition: .3s;
                filter: opacity(60%);
            }
            i{
                color: $color-primary;
                // font-size: 30px;
                font-size: em(30);
                transition: .3s;
                opacity: 0;
            }
        }

    }
}

.social {
    font-size: 16px;

    @include min-sm{
        font-size: 12px;
    }
    @include min-md{
        font-size: 14px;
    }
    @include min-lg{
        font-size: 16px;
    }
   

    @extend %space-section;
    background-color: rgba($color-tertiary, 0.5);

    &__title {
        @extend %section-title;
        margin-bottom: 3%;
    }

    &__sub-title {
        font-size: em(48);
        font-weight: 300;
        color: $page-text-color;
        text-align: center;
        letter-spacing: 0.02em;
        margin: 0px;
        margin-bottom: 1%;
    }

    &__hash {
        font-size: em(20);
        color: $support-color;
        font-weight: 600;
        font-style: italic;
        text-align: center;
        letter-spacing: 0.1em;
        margin: 0;
        margin-bottom: 4%;
    }

    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        @include min-sm{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        &__item{
            height: em(300);
            @include min-sm{
                height: em(500);
            }

            @for $i from 1 to 7{
                &--0#{$i}{
                    background-image: url(../imgs/img-social-0#{$i}.jpg);
                    background-position: center;
                    background-size: cover;
                    @extend .gallery__item;
                }
            }

            position: relative;
            &::before{
                content: '';
                background-color: rgba($color-tertiary, 0.4);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transition: .3s;
                opacity: 1;
            }

            &:hover{
                &::before{
                    opacity: 0;
                }
                .icons__list{
                    opacity: 1;
                }
            }
        }
    }

    .icons{
        &__list{
            position: absolute;
            bottom: 20%;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            z-index: 2;
            opacity: 0;
            transition: .6s;
        }

        &__link{
            &:active, &:focus, &{
                display: inline-block;
                text-decoration: none !important;
                border-radius: rem(50);
                height: em(30);
                width: em(30);
                line-height: em(30);
                font-size: rem(16);

                @include min-sm{
                    height: em(35);
                    width: em(35);
                    line-height: em(35);
                    font-size: rem(20);
                }

                svg{
                    transition: .3s;
                    width: em(35);
                    height: em(35);
                    font-size: rem(35);
                }

            }
            &:hover{
                svg{
                    transform: scale(0.8);
                }
            }
        }
    }
}

.footer {
    font-size: 16px;
    @include min-sm{
        font-size: 10px;
    }
    @include min-md{
        font-size: 14px;
    }
    @include min-xl{
        font-size: 16px;
    }
    
    background-color: $color-tertiary;
    color: $page-text-color;

    @include min-sm{
        text-align: center;
    }

    &__container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: em(60) em(0);
        @include min-sm{
            flex-wrap: nowrap;
            gap: rem(30);
        }
    }

    &__logo {
        display: flex;
        align-items: center;

        @include custom-mq(320, 1200) {
            flex-direction: column;
            align-items: flex-start;
        }

        .logo-link{
            img{
                height: auto;
                width: em(264);
            }
        }
    }

    &__slogan {
        color: $page-text-color;
        margin: 0;
        margin-left: rem(20);
        font-weight: 900;
        text-transform: uppercase;
        font-size: em(20);
        @include custom-mq(320, 1200) {
            margin-left: 0;
            margin-bottom: rem(20);
        }
    }

    &__navigation {
        flex-basis: 100%;
        @include min-lg{
            flex-basis: 50%;
        }
        .quick-links {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;

            @include min-sm{
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
            }

            &__item {
                flex-basis: 100%;
                @include min-sm{
                    flex-basis: auto;
                }
            }

            &__link {
                &:visited,
                &:focus,
                & {
                    display: block;
                    color: $page-text-color;
                    background-color: transparent;
                    text-decoration: none;
                    transition: .3s;
                    padding: rem(10) rem(0);
                    font-size: em(18);

                    @include min-sm{
                        font-size: em(18);
                    }
                }

                &--button{
                    @extend %site-button;
                }

                &:hover {
                    color: $color-primary;
                    background-color: transparent;
                }
            }
        }
    }

    &__copyright {
        border-top: 1px solid $support-color;
        text-align: center;

        p{
            font-size: em(14);
            color: $support-color;
            margin: 0;
            padding: rem(26) rem(0);
        }
    }
}